.block-container {

}

.color-block-row {
  margin: 0 auto;
  width: fit-content;
}

.color-block {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 300px;
  background-color: $primary-color-light-blue;
  margin: 0 5px 20px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.2s ease-in-out;

  h4 {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 0 1px 4px rgba(0,0,0,0.59);
  }
}

.color-block:hover {
  transform: scale(1.01);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
